<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Connexion</title>
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Se Connecter</h3>
                            <p class="mb-4">Connectez-vous pour effectuer votre tache</p>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <label for="prenom">Prenom</label>
                                <input type="text" name="prenom" class="form-control" id="prenom" autocomplete="prenom" required autofocus>

                            </div>
                            <div class="form-group first">
                                <label for="nom">Nom</label>
                                <input type="text"  name="nom" class="form-control" id="nom" autocomplete="nom" required autofocus>

                            </div>

                            <div class="form-group first">
                                <label for="genre">Genre</label>
                                <p>Homme<input type="radio"  name="genre" value="M"   required></p>
                                <p>Femme<input type="radio"  name="genre" value="F"   required></p>

                            </div>
                            <p class="form-group second">
                                <label for="roles">Profile</label>
                                <p>Investisseur<input type="radio"  name="roles" value="INVESTOR"   required autofocus></p>
                                <p>Porteur de projet<input type="radio"  name="roles" value="PROJECT_OWNER" required autofocus></p>

                            </div>
                            <div class="form-group first">
                                <label for="username">Adresse Email</label>
                                <input type="email" value="" name="email" class="form-control" id="email" autocomplete="email" required autofocus>

                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Mot de Passe</label>
                                <input type="password" name="password" class="form-control" id="password" autocomplete="current-password" required>

                            </div>

                            <div class="form-group last mb-4">
                                <label for="localisation">Localisation</label>
                                <input type="text" name="localisation" class="form-control" id="localisation" required>

                            </div>

                            <div class="form-group last mb-4">
                                <label for="description">Description</label>
                                <input type="text" name="description" class="form-control" id="description" required>

                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <input type="submit" value="Creer Compte" class="btn btn-block btn-primary">
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>